section {
    width: 70%;
    margin: 0 auto;
    font-family: sans-serif
}

article {
    background: lightgray;
    border: 2px solid gray;
    margin-bottom: 2rem;
    padding: 1rem;
    display: flex;
}

figure {
    order: -1;
    margin: 0 1rem 0 0;
    border: 1px solid red
}

img {
    max-width: 100%;
}

h1 {
    font-size: 2rem;
    margin: 0;
    display: flex;
}

a {
    background: blue;
    color: white;
    border: 15px solid blue;
    padding: 0.5 1rem;
    text-decoration: none;
    margin: 1rem 0;
    display: inline-block
}

p {
    display: flex;
    align-items: flex-end;
}