header {
    background: red;
    width: 70%;
    margin: 0 auto;
    max-width: 500px;
    min-width: 300px;
}

strong {
    background: lightcoral;
    margin-top: 30px;
    margin: 10px 30px;
    font-size: 2rem;
    display: inline-block;
    overflow: visible;
    overflow: hidden;
    overflow: auto;
    overflow-x: auto;
    overflow: auto;
}