header {
    width: 70%;
    margin: auto;
    background-image: url(8.jpg);
    background-position: 2px 2px;
    background-position: center bottom;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 1rem;
    box-sizing: border-box;
    box-shadow: 4 3 15 1 rgba(red, green, blue, 0.50);
    opacity: 0.800;
}

header h1 {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    /* border-width: 10px;
    border-style: ridge;
    border-color:aquamarine */
    border: 5px ridge aqua;
    border-radius: 0 50px
}